.header {
    width: 100%;
    text-align: center;
}

.link {
    float: none !important;
    display: inline-block !important;
}

.logo-bigscreen {
    position: absolute;
}

.logo {
    height: 50px;
    padding-left: 15px;
}